* {
    text-align: center;
    margin-top: 20px;

}

body {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(150,255,136,1) 100%);
}

#button {
    font-size: 20px;
    width: 1200px;
    height: 100px;
    color: black;
}

img {
    width: 1000px;
    height: 664px;
}

.divGrid {
    display: grid;
    grid-template-columns: 1000px 600px;
    grid-template-rows: 100px 500px 100px;
}

footer {
    grid-column-start: 1;
    grid-column-end: 3;
    height: 100px;
}

#fishPictures {
    display: none;
}

#sarkiPicture, #ahvenPicture, #haukiPicture {
    width: 600px;
    height: 430px;
    display: none;
}

#smallFish {
    grid-column-start: 2;
}

.header {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 50px;
}

#smallFish {
    font-size: 50px;
}

