* {
    font-family: 'Zen Kurenaido', sans-serif;
}

body {
    background-color: rgb(219, 236, 255);
    margin-right: 3%;
    margin-left: 3%;
}

.wholeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 25px;

}


header {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 70px;
    text-align: center;

}

.navbar {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background-color: rgb(176, 188, 255);
}

.navbarLink {
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    position: relative;
    color: #003550;
    margin: 10px;
}

.navbarLink:hover {
    color: #e1ecf1;
}

.navbarLink:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e1ecf1;;
    transform-origin: bottom right;
    transition: transform 0.15s ease-in;
}

.navbarLink:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

section {
    padding: 10px;
    background-color: rgb(206, 212, 255);
    border-radius: 5px;
}

img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

h3 {
    text-align: center;
}


footer {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-size: 25px;
    
}

#homepage {
    font-size: 20px;
    float: right;
    text-decoration: none;
}

.frontpageParagraph {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
