* {
    font-family: 'Zen Kurenaido', sans-serif;
}

body {
    background-color: rgb(219, 236, 255);
    margin-right: 3%;
    margin-left: 3%;
}

#rocketleagueBody {
    background: url("rocketsectionbackground.png") no-repeat center fixed;     
    background-size: cover;
}

#csgoBody {
    background: url("csgosectionbackground.png") no-repeat center fixed;     
    background-size: cover;
}

#leagueBody {
    background: url("leaguesectionbackground.png") no-repeat center fixed;     
    background-size: cover;
}

#runescapeBody {
    background: url("runescapesectionbackground.png") no-repeat center fixed;     
    background-size: cover;
}

#roeBody {
    background: url("roesectionbackground.png") no-repeat center fixed;     
    background-size: cover;
}

#poeBody {
    background: url("poesectionbackground.png") no-repeat center fixed;     
    background-size: cover;
}

.wholeGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2;
    grid-column-gap: 35px;
    grid-row-gap: 25px;
}

.gamepageGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 35px;
    grid-row-gap: 25px;
    padding-top: 30px;
}

.videoGallery {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background-color: rgb(203, 210, 255);
    font-size: 20px;
    opacity: 0.9;
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 70px;
    text-align: center;
}

#leagueHeader, #rocketleagueHeader, #runescapeHeader, #csgoHeader, #roeHeader, #poeHeader  {
    color: rgb(255, 255, 255);
}

.navbar {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    background-color: rgb(176, 188, 255);
}

.navbarLink {
    text-decoration: none;
    font-size: 30px;
    display: inline-block;
    position: relative;
    color: #001b29;
    margin: 10px;
}

.navbarLink:hover {
    color: #e1ecf1;
    opacity: 0.7;
}

.navbarLink:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #e1ecf1;
    transform-origin: middle;
    transition: transform 0.15s ease-in;
}

.navbarLink:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

section {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(195, 202, 255, 0.92);
}

.frontpageTitle {
    font-size: 22px;
    text-decoration: none;
}

.frontpageTitle:hover {
    color: white;
}

.sectionImage {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
}

.imageZoomHelperDiv, .helper2 {
    max-height: 100%; 
    overflow: hidden; 
}
  
  .imageZoomHelperDiv img {
    transition: transform 0.4s ease;
}
  
  .imageZoomHelperDiv:hover img {
    transform: scale(1.35) rotate(7deg);
}

.helper2:hover img {
    transform: scale(1.35) rotate(-7deg);
}

h3 {
    text-align: center;
}

footer {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-size: 25px;
    background-color: #98d0ec;
    margin-top: 20px;
    opacity: 0.9;
    font-weight: bold;
    border-radius: 5px;
    padding-right: 10px;
}

#homepage:hover {
    color: #e1ecf1;
    opacity: 0.7;
}

#homepage:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0e2031;;
    transform-origin: middle;
    transition: transform 0.15s ease-in;
}

#homepage:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#homepage {
    font-size: 22px;
    float: right;
    text-decoration: none;
    position: relative;
}

.frontpageParagraph {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

@media all and (max-width: 700px) {
    section {
        font-size: 10px;
    }

    header {
        font-size: 30px;
    }

    .navbarLink {
        font-size: 15px;
    }

    .wholeGrid {
        display: grid;
        grid-column-gap: 15px;
        grid-row-gap: 10px;
    }

    .gamepageGrid {
        display: grid;
        grid-column-gap: 15px;
        padding-top: 10px;
    }
}

.pros, .cons {
    font-size: 20px;
    text-decoration: underline;
}

li {
    font-size: 20px;
    text-decoration: none;
}